.allDropdown {
    top: 3rem;
    left: 25%;
    width: 70rem;
    display: none;

    &.active {
        z-index: 1;
        height: 40rem;
        display: flex;
    }
}

.allDropdown__left {
    flex: 0.25;
    background-color: $almostWhite;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    &>*:nth-child(-n+2) {
        font-size: 1rem;
    }

    &>*:not(:nth-child(-n+2)) {
        font-size: 0.9rem;
    }

    &>.allDropdown__text {
        margin-bottom: 0.5rem;
        padding: 1rem 0.5rem 1rem 1.1rem;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $pureWhite;
        }
    }
}

.allDropdown__right {
    background-color: $pureWhite;
    flex: 0.75;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;

    &.active {
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        height: auto;
        overflow-y: scroll;
        scrollbar-width: thin;
        display: flex;
    }

    &-subdept {
        flex-grow: 1;
        width: 33.3%;
        margin-bottom: 2rem;
    }

    &-title,
    &-view {
        font-size: 0.9rem;
        line-height: 2;
        font-weight: 600;
        transition: all .3s ease-in-out;
    }

    &-text {
        font-size: 0.85rem;
        line-height: 2;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    &-view {
        cursor: pointer;
    }

    &-text:hover,
    &-view:hover {
        color: #fcaf18;
    }

    &-view:hover .icon-tabler-arrow-narrow-right {
        stroke: #fcaf18
    }
}